<section class="bg-blue-200  border border-blue-300">
    <div class="p-8">
        <div class="max-w-xl lg:max-w-full mx-auto relative">
            <h2 class="text-3xl sm:text-4xl text-black font-extrabold tracking-tight text-center   border-b border-blue-300 py-2">Terminos</h2>
            <div class="bg-blue-300 text-gray-700 p-5" [ngClass]="{'hidden': !isPlus}">
              <p class="tracking-wide text-sm  sm:text-base">
                Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Ac euismod vel sit maecenas id pellentesque eu sed consectetur.
                Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Ac euismod vel sit maecenas id pellentesque eu sed consectetur.
                Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Ac euismod vel sit maecenas id pellentesque eu sed consectetur.
                Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Ac euismod vel sit maecenas id pellentesque eu sed consectetur.
              </p>
              <div class="my-5">
                  <a href="#" class="px-4 py-1 border border-transparent rounded-md  font-medium bg-blue-500 text-gray-200  hover:bg-blue-600">ver mas</a>
              </div>
            </div>
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus-minus" class="w-6 h-6 cursor-pointer absolute top-4 right-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"  (click)="plus()"  >
              <path data-ref="plus" [ngClass]="{'hidden': isPlus}" fill="currentColor" d="M352 240v32c0 6.6-5.4 12-12 12h-88v88c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-88h-88c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h88v-88c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v88h88c6.6 0 12 5.4 12 12zm96-160v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path>
              <path data-ref="minus" [ngClass]="{'hidden': !isPlus}" fill="currentColor" d="M108 284c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h232c6.6 0 12 5.4 12 12v32c0 6.6-5.4 12-12 12H108zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path>
            </svg>
        </div>
    </div>
</section>
